<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volvocars.networkinterfacetest">
    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="27"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <uses-library android:name="android.test.runner" />
        <activity android:name=".MainActivity" />
    </application>

    <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner"
                     android:targetPackage="com.volvocars.networkinterfacetest"
                     android:label="Tradefed test for interface restriction">
    </instrumentation>

</manifest>
