<html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/volvo_logo.png"/>
    <title>Log</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'>
    <script src="/js/jquery-3.2.1.js" ></script>
    <script src='/js/bootstrap.min.js'></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
  
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <link rel='stylesheet' href='/css/user_defined.css'>
</head>

<body class="container-flueid">
    <%- include navbar.ejs %>
    <div class="embed-responsive embed-responsive-21by9 loading-iframe" >
        <iframe class="embed-responsive-item" src="/home"></iframe>
    </div>
    
</body>

</html>