<header class="navbar navbar-expand navbar-dark" style="padding-top: 2cm;">

<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/volvo_logo.png" width="40" height="35" alt="">
    </a>
    <div >
    
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item active"><a class="nav-link" href="/tests">Hourly</a></li>
        <li class="nav-item active"><a class="nav-link" href="http://gotsvl1416.got.volvocars.net:3000/d/slhDMWRiz/ci-use?orgId=2" target="_blank">CI Dashboard</a></li>
        <li class="nav-item active"><a class="nav-link" href="https://ci.volvocars.biz/productstreams/78a7bca4-e7a6-42ac-8551-5d7388d6a9f3" target="_blank">VCC CI Visualization</a></li>
        <li class="nav-item active"><a class="nav-link" href="https://ci.volvocars.biz/productstreams/78a7bca4-e7a6-42ac-8551-5d7388d6a9f3/history?activity=ihu_gate_test" target="_blank">Gate History</a></li>
        <li class="nav-item active"><a class="nav-link" href="https://ci.volvocars.biz/productstreams/f5cb7ab7-1ca4-4ef4-b43d-4c4e8563bd9b/history?activity=ihu_hourly" target="_blank">Hourly History</a></li>
        <li class="nav-item active"><a class="nav-link" href="https://ci.volvocars.biz/productstreams/f5cb7ab7-1ca4-4ef4-b43d-4c4e8563bd9b/history?activity=ihu_daily" target="_blank">Daily History</a></li>
        </ul>
    
    </div>
  
</nav>
</header>


