# other repos imported by repo tool
# also uincludes services/packages and so on,
# as long as they are imported via repo manifests
hmi/*
apps/*/

# Temporary files/buffers
*.swp
*.tmp

# Visual Studio Code
*.vscode

# Python
__pycache__/
*.py[cod]
*$py.class
*.mypy_cache

#Ignore component_test_build logs
build.log
build.log.*
cloudsim.log
db.json.run

# eclipse
**/.settings
.project
.cproject
## Plugins
.pydevproject
.classpath

# Meld mergetool
*.orig

#PyCharm / Android Studio / Jetbrains Tools
*.iml
.idea
.externalNativeBuild
.DS_Store

#Java
.class

#Sublime, workspace and project settings
*.sublime-project
*.sublime-workspace

#External library repositories
external/paho.mqtt.c/
external/paho.mqtt.cpp/
external/pac_legacy/

#Gradle
.gradle
local.properties