# other repos imported by repo tool
hmi/*/
apps/*/

# Visual Studio Code
*.vscode

# Python
__pycache__/
*.py[cod]
*$py.class
*.mypy_cache
*.log

# eclipse
.settings/language.settings.xml
.settings/org.eclipse.cdt.core.prefs
.project
.cproject

# Meld mergetool
*.orig

#PyCharm / Android Studio / Jetbrains Tools
.idea
