<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volvocars.audioanalyzer">
    <uses-sdk android:minSdkVersion="27" android:targetSdkVersion="27"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application>
        <uses-library android:name="android.test.runner" />
        <activity android:name=".MainActivity"/>
    </application>

    <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner"
                     android:targetPackage="com.volvocars.audioanalyzer"
                     android:label="Tradefed test for audio">
    </instrumentation>

</manifest>
