#define iplm hal
type hal_iplm_hwservice, hwservice_manager_type;

hal_attribute(iplm)

binder_call(hal_iplm_client, hal_iplm_server)
binder_call(hal_iplm_server, hal_iplm_client)

add_hwservice(hal_iplm_server, hal_iplm_hwservice)
allow hal_iplm_client hal_iplm_hwservice:hwservice_manager find;

allow system_app hal_iplm_hwservice:hwservice_manager find;