#define remotectl hal
type hal_remotectl_hwservice, hwservice_manager_type;

# TODO use hal_attribute() when available in P
attribute hal_remotectl;
expandattribute hal_remotectl true;
attribute hal_remotectl_client;
expandattribute hal_remotectl_client true;
attribute hal_remotectl_server;
expandattribute hal_remotectl_server false;


binder_call(hal_remotectl_client, hal_remotectl_server)
add_hwservice(hal_remotectl_server, hal_remotectl_hwservice)
allow hal_remotectl_client hal_remotectl_hwservice:hwservice_manager find;
