# cloudd service
type cloudd, domain;
type cloudd_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(cloudd)

typeattribute cloudd hal_automotive_socket_exemption;

allow cloudd self:capability2 wake_alarm;

# Allow network
net_domain(cloudd)

#Allow Cloud HAL server
hal_server_domain(cloudd, hal_cloud)