# dataelements-hidl-server
type dataelements-hidl-server, domain;
type dataelements-hidl-server_exec, exec_type, file_type, vendor_file_type;

allow dataelements-hidl-server carconfig-updater:binder call;

init_daemon_domain(dataelements-hidl-server)

# Allow Signals HAL server
hal_server_domain(dataelements-hidl-server, hal_signals)
