# gnssd service
type gnssd, domain;
type gnssd_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(gnssd)

#Allow IGnss HAL server
hal_server_domain(gnssd, hal_gnss)

#Allow IVehicleCom HAL client
hal_client_domain(gnssd, hal_vehiclecom)

#Allow ILocationUpdate HAL server
hal_server_domain(gnssd, hal_gps)