# ip
type ip-vcc, domain;
type ip-vcc_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(ip-vcc)

domain_auto_trans(ip-vcc, netmand_exec, netmand)

allow ip-vcc netboyd:fd use;
allow ip-vcc netboyd:netlink_kobject_uevent_socket { read write };

allow ip-vcc nsfs_netns_vcc:file { open read };

#allow ip-vcc self:capability { net_admin net_raw };
allow ip-vcc self:netlink_route_socket { bind create getattr nlmsg_read nlmsg_write read setopt write };
allow ip-vcc self:udp_socket { create ioctl };

allow ip-vcc proc:file { getattr open read };
allow ip-vcc proc_net:file { getattr open read write };

