# ipcbd service
type ipcbd, domain;
type ipcbd_exec, exec_type, file_type, vendor_file_type;

typeattribute ipcbd hal_automotive_socket_exemption;

init_daemon_domain(ipcbd)

# Allow network
net_domain(ipcbd)

# Allow VehicleCom HAL server
hal_server_domain(ipcbd, hal_vehiclecom)
