# iplmd service
type iplmd, domain;
type iplmd_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(iplmd)

# Allow IIplm HAL server
hal_server_domain(iplmd, hal_iplm)

# Allow IVehicleCom HAL client
hal_client_domain(iplmd, hal_vehiclecom)

# Allow ISignals HAL client
hal_client_domain(iplmd, hal_signals)

# Allow ILifecycleControl HAL client
hal_client_domain(iplmd, hal_lifecyclectrl)