# iplmd service
type iplmd, domain;
type iplmd_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(iplmd)

allow iplmd system_file:dir r_dir_perms;
allow iplmd system_file:file r_file_perms;

hal_server_domain(iplmd, hal_vehiclecom)
hal_server_domain(iplmd, hal_iplm)

binder_call(iplmd, ipcbd)
binder_call(iplmd, lscd)
binder_call(iplmd, dataelements-hidl-server)

hwbinder_use(iplmd)

