# lscd service
type lscd, domain;
type lscd_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(lscd)

allow lscd hwservicemanager:binder { call transfer };
allow lscd system_file:dir r_dir_perms;
allow lscd system_file:file r_file_perms;

allow lscd iplmd:binder call;
