# netboyd service
type netboyd, domain;
type netboyd_exec, exec_type, file_type, vendor_file_type;
type nsfs_netns_vcc, fs_type;

init_daemon_domain(netboyd)

set_prop(netboyd, netboyd_prop)

#allow netboyd self:capability { net_admin net_raw };
allow netboyd self:netlink_route_socket { bind create getattr nlmsg_write read setopt write };

allow netboyd self:udp_socket { create ioctl };
allow netboyd self:netlink_kobject_uevent_socket { read bind create setopt };

allow netboyd sysfs:dir r_dir_perms;
allow netboyd sysfs:file rw_file_perms;

allow netboyd sysfs_net:dir search;

allow netboyd nsfs_netns_vcc:file { open read };
domain_auto_trans(netboyd, ip-vcc_exec, ip-vcc);

allow netboyd vendor_shell_exec:file execute_no_trans;

