# netman service
type netmand, domain;
type netmand_exec, exec_type, file_type, vendor_file_type;

type proc_netmand, file_type;

domain_auto_trans(netmand, iptables-vcc_exec, iptables-vcc)

domain_auto_trans(netmand, ip6tables-vcc_exec, iptables-vcc)

domain_auto_trans(netmand, ip-vcc_exec, ip-vcc)
domain_auto_trans(netmand, vendor_shell_exec, iptables-vcc)

# When netmand creates /mnt/iptables.rules then it should be
# labeled with iptables_data_file
file_type_auto_trans(netmand, tmpfs, iptables_data_file)

allow netmand localconfig_data_file:file { getattr open read };

net_domain(netmand)

binder_call(netmand, hwservicemanager)
hal_client_domain(netmand, hal_uds_diagnostics)

set_prop(netmand, netmand_prop)

allow netmand proc_netmand:file rw_file_perms;
allow netmand proc_netmand:dir r_dir_perms;

allow netmand ip-vcc:fd use;

allow netmand sysfs:file rw_file_perms;
allow netmand sysfs:dir r_file_perms;

allowxperm netmand self:udp_socket ioctl { SIOCSIFFLAGS SIOCSIFADDR SIOCSIFHWADDR SIOCGIFHWADDR SIOCETHTOOL SIOCSIFBRDADDR SIOCSIFNETMASK };

#allow netmand self:capability { net_admin net_raw sys_module dac_override };
allow netmand self:capability { net_admin net_raw sys_module };
allow netmand self:capability2 wake_alarm;
allow netmand self:netlink_kobject_uevent_socket { bind setopt read create };
allow netmand self:udp_socket create;

