# vehicle-signals-daemon
type vehicle-signals-daemon, domain;
type vehicle-signals-daemon_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(vehicle-signals-daemon)

allow vehicle-signals-daemon socket_device:dir { write add_name };
allow vehicle-signals-daemon socket_device:sock_file { create read getattr write setattr };

allow vehicle-signals-daemon vehicle_comm_device:chr_file rw_file_perms;

# Allow ISignals HAL client
hal_client_domain(vehicle-signals-daemon, hal_signals)
