on property:remotectrl_routerd.startup_completed=1
    start remotectrl_audioctrld

service remotectrl_audioctrld /vendor/bin/ip netns exec vcc /vendor/bin/remotectrl_audioctrld
    setenv VSOMEIP_CONFIGURATION "/vendor/etc/vsomeip/vsomeip.json"
    user root
    group root
