on property:remotectrl_routerd.startup_completed=1
    start remotectrl_audioctrld

service remotectrl_audioctrld /vendor/bin/ip netns exec vcc /vendor/bin/hw/remotectrl_audioctrld /vendor/etc/vsomeip/vsomeip_convapi.json
    user root
    group root
