# dataelements-hidl-server
type dataelements-hidl-server, domain;
type dataelements-hidl-server_exec, exec_type, file_type, vendor_file_type;

allow dataelements-hidl-server carconfig-updater:binder call;

init_daemon_domain(dataelements-hidl-server)

# hwservicemanager accesses will probably be handled by hal_client/server() macros
hwbinder_use(dataelements-hidl-server)
allow dataelements-hidl-server hwservicemanager_prop:file { getattr open read };
