# hwservicemanager.te

allow hwservicemanager dataelements-hidl-server:binder call;
allow hwservicemanager dataelements-hidl-server:dir search;
allow hwservicemanager dataelements-hidl-server:file { open read };
allow hwservicemanager dataelements-hidl-server:process getattr;

allow hwservicemanager carconfig-updater:binder { call transfer };
allow hwservicemanager carconfig-updater:dir search;
allow hwservicemanager carconfig-updater:file { open read };
allow hwservicemanager carconfig-updater:process getattr;

allow hwservicemanager iplmd:dir search;
allow hwservicemanager iplmd:file read;

allow hwservicemanager ipcbd:process getattr;

allow hwservicemanager netmand:dir search;
allow hwservicemanager netmand:file read;
allow hwservicemanager netmand:process getattr;
