# iplmd service
type iplmd, domain;
type iplmd_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(iplmd)

allow iplmd hwservicemanager:binder call;
allow iplmd system_file:dir r_dir_perms;
allow iplmd system_file:file r_file_perms;
