type settingsstorage_service, domain;
type settingsstorage_service_exec, exec_type, file_type, vendor_file_type;

init_daemon_domain(settingsstorage_service)
