#define uds_diagnostics hal

#define domain for implementation used by VCC
type uds_diagnostics_default, domain;
type uds_diagnostics_default_exec, exec_type, file_type, vendor_file_type;

#configure uds_diagnostics_default to be a domain for service launched by init
#it uses label from file_contexts
init_daemon_domain(uds_diagnostics_default)

#declare this domain as server for uds_diagnostics
hal_server_domain(uds_diagnostics_default, hal_uds_diagnostics)


