on property:vendor.carconfig.CC100_AutonomousDriveType=3 && property:netmand.startup_completed=1 && property:netboyd.startup_completed=1
    start remotectrl_routerd

on property:remotectrl_routerd.startup_completed=1
    class_start vcc_conv_api

service remotectrl_routerd /vendor/bin/ip netns exec vcc /vendor/bin/remotectrl_routerd /vendor/etc/vsomeip/vsomeip_convapi.json
    user root
    group root
