# Inherit Delphi's init.rc
import init.ihu_abl_car.rc

on init
    mkdir /var/
    mkdir /var/run
    mkdir /dev/netns
    symlink /dev/netns /var/run/netns

on post-fs
    exec -- /system/bin/ip netns add vcc
    exec -- /system/bin/ip netns exec vcc /system/bin/sysctl -p /vendor/etc/sysctl.conf
    class_start vcc_net_init
