on property:vendor.carconfig.CC100_AutonomousDriveType=3 && property:netmand.startup_completed=1
    start vendor_dnsmasq

service vendor_dnsmasq /vendor/bin/ip netns exec vcc /vendor/bin/dnsmasq_wrapper
    user root
    group root