service doip_router /vendor/bin/ip netns exec vcc su oem_2901,oem_2901,net_raw,inet /vendor/bin/doip_router
    user root
    group root
    seclabel u:r:doip_router:s0

on post-fs
    mkdir /dev/socket/doip_router 770 oem_2901 oem_2901

on boot
    start doip_router
