BasedOnStyle: Google 
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
IndentWidth: 4
ColumnLimit : 120
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align

