type vehicle_network_service_exec, exec_type, file_type;
type vehicle_network_service, domain;
typeattribute vehicle_network_service vendor_executes_system_violators;

init_daemon_domain(vehicle_network_service)
