on boot
    mkdir /oem_config/carconfig
    restorecon /oem_config/carconfig
    class_start carconfig_updater_class

service carconfig_updater /vendor/bin/hw/carconfig-updater
    class carconfig_updater_class
    user root
    group root
    oneshot
    seclabel u:r:carconfig-updater:s0
