on boot
    mkdir /oem_config/carconfig
    restorecon /oem_config/carconfig
    start carconfig_updater

service carconfig_updater /vendor/bin/hw/carconfig-updater
    user root
    group root
    oneshot
    seclabel u:r:carconfig-updater:s0
