on boot
    exec - root root -- /system/bin/sysctl -p /vendor/etc/sysctl.conf

on property:netmand.startup_completed=1 && property:netboyd.startup_completed=1
    class_start vcc_net

service netman /system/bin/ip netns exec vcc /system/bin/netman
    class vcc_netmand
    user root
    group root
    seclabel u:r:netman:s0
