on boot
   exec - root root -- /system/bin/sysctl -p /vendor/etc/sysctl.conf

service netman /system/bin/ip netns exec vcc /system/bin/netman
    class vcc_net_init
    user root
    group root
    seclabel u:r:netman:s0
